html, body {
    height: 100%;
    margin: 0;
}
.box{
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: blue;
    color: white;
    transition: 2s;
}
.box:hover{
    transform: rotate(180deg);
}
.box1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

